/* Header - Start */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
  font-size: 18px;
  background-color: #fff;
}

.header__links-list {
  display: flex;
  gap: 26px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 100%;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.header__address {
  max-width: 240px;
  justify-self: end;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: start;
  line-height: 24px;
  font-style: normal;
}
/* Header - End */

/* Cover section - Start */
.cover {
  position: relative;
  min-height: 757px;
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title,
.cover__description {
  position: relative;
  z-index: 1;
  text-transform: uppercase;
  color: #fff;
}

.cover__title {
  margin: 165px 0 auto;
  font-size: 100px;
  font-weight: bold;
  line-height: 115%;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 0.3em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto 0 50px;
  font-size: 22px;
}

.cover__description-text {
  line-height: 28px;
  word-spacing: 18px;
}

.bet-button {
  padding: 12px 32px 11px 31px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 26px;
  background: none;
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
}
/* Cover section - End */

/* Lots section - Start */
.lots {
  padding: 183px 24px 120px;
  background-color: #fff;
}

.lots__heading {
  padding: 0 27px 40px;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card-link {
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px;
  color: #fff;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
  background-size: cover;
  background-position: center;
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
  background-size: cover;
  background-position: center;
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
  background-size: cover;
  background-position: center;
}

.card__title,
.card__text {
  position: relative;
  z-index: 1;
  line-height: 120%;
}

.card__title {
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
}

.card__text {
  font-size: 20px;
}

.lots__look-more-link {
  display: block;
  padding: 30px 40px 0;
  font-size: 20px;
  text-transform: lowercase;
}
/* Lots section - End */

/* About section - Start */
.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  padding: 120px 24px 180px;
  background-color: #fff;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin: 35px auto;
  background-color: #000;
  border-radius: 50%;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  margin: 136px 0 100px;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
  line-height: 24px;
}
/* About section - End */

/* Footer section - Start */
.footer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  padding: 0 50px 82px;
  background-color: #fff;
  font-size: 18px;
}

.footer__address {
  max-width: 264px;
}

.footer__menu-list {
  list-style: none;
  text-align: center;
  text-transform: lowercase;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  align-items: start;
  justify-self: end;
  gap: 48px;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
/* Footer section - End */
